.categorias {
    padding: 4rem 0;
}

.categorias h2 {
    color: black;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.categorias ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}

.categorias ul li {
    width: 30%;
    list-style-type: none;
   
}